// ===========================
// Buttons
// ===========================

.btn {
  background-color: $accent-color;
  color: white;
  font-weight: bold;
  font-family: $font-family-secondary;
  border-radius: 6px;
  padding: 0.5em 1em;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.1s ease;
  border: none;

  margin-top: $gcr-button-top-margin !important;
  margin-bottom: $gcr-button-bottom-margin !important;

  &:hover,
  &:focus {
    background-color: darken($accent-color, 10%);
    text-decoration: none;
    transform: translateY(-1px);
  }
}

.btn--primary {
  background-color: $primary-color;

  &:hover,
  &:focus {
    background-color: darken($primary-color, 10%);
  }
}

.btn--block {
  display: inline-block;
}
