.masthead__inner-wrap {
    font-family: $font-family-secondary !important;
}

.masthead {
    position: sticky;
    top: 0;
    background-color: #fff;
}

body.landing .masthead {
  display: none;
}
