<!-- _includes/loader.html -->
<div id="gcr-loader">
  <svg viewBox="0 0 200 200" width="140" height="140">
    <circle cx="100" cy="100" r="40" fill="#4CB5AB">
      <animate attributeName="r" values="40;60;40" dur="1.8s" repeatCount="indefinite" />
      <animate attributeName="opacity" values="1;0.3;1" dur="1.8s" repeatCount="indefinite" />
    </circle>
    <image href="/assets/images/gcr-822x822.png" x="60" y="60" width="80" height="80" />
  </svg>
  <p id="gcr-loader-text">Lacing up...</p>
</div>
